.mypages__home
  .mypages__home__header
    .home__text
      ホーム
  .mypages__home__trainings
    .user__avatar
      = image_tag "cat"
      -# user.avatar
    .user__name
      りょう
      -# user.name
    .update__date
      2019年10月25日
      -# history.update_at
    .training_detail
      背筋トレーニング
    .comment
      コメント
    .good
      いいね