.mypages__training__list
  .mypages__training__list__header
    .avatar
      
    .training
      トレーニング中の本棚
    .edit
      編集
  .mypages__training__list__main
    .category
      カテゴリなし
      .training
        ２０１９年応用情報技術者午後問題の重点対策



